# {{ ansible_managed }}

[mysqld]
# table_cache            = 8192
open_files_limit       = 25000

# tmp_table_size  = 512M
max_heap_table_size = 512M

innodb_large_prefix=true
innodb_file_format=barracuda
innodb_file_per_table=true
innodb_buffer_pool_size = {{ (ansible_memtotal_mb/1024/2)|round|int }}G

join_buffer_size = 512K

# http://www.mysqlperformanceblog.com/2007/11/03/choosing-innodb_buffer_pool_size/
innodb_flush_method=O_DIRECT

query_cache_limit       = 12M
query_cache_size        = 128M

# log_slow_queries        = /var/log/mysql/mysql-slow.log
long_query_time = 2

# https://mariadb.com/kb/en/mariadb/server-system-variables/#max_statement_time
# Maximum time in seconds that a query can execute before being aborted.
# This includes all queries, not just SELECT statements, but excludes statements in stored procedures.
#
# NB: 360 seconds (6 mins) is a really long time for a query, but some reports
# or exports can be very slow.
max_statement_time = 360

# https://dev.mysql.com/doc/refman/5.7/en/stored-programs-logging.html
log_bin_trust_function_creators=1

# [ML] Since MariaDB 10.2, sql-mode also includes: STRICT_TRANS_TABLES
# but this is a bit too brutal for legacy code.
# https://mariadb.com/kb/en/library/sql-mode/
sql-mode="NO_AUTO_CREATE_USER,NO_ENGINE_SUBSTITUTION"
