[Unit]
Description=JIRA Mattermost Bridge
After=network.target

[Service]
User=mattermost
ExecStart=/opt/jira-matter-bridge/bin/www
WorkingDirectory=/opt/jira-matter-bridge/
Restart=always
RestartSec=30

Environment=MATTERMOST_SERVER_PORT=443
Environment=MATTERMOST_SERVER_PROTO=https
Environment=MATTERMOST_SERVER=chat.civicrm.org

[Install]
WantedBy=multi-user.target
