[Match]
Name=br0

[Network]
Description=network interface on public network, with default route
DHCP=no
Address={{ kvm_main_ipv4_address }}/{{ kvm_main_ipv4_netmask }}
Gateway={{ kvm_main_ipv4_gateway }}
IPv6AcceptRA=false
NTP=ntp.ovh.net
DNS={{ kvm_main_ipv4_dns }}
DNS={{ kvm_main_ipv6_dns }}
Gateway={{ kvm_main_ipv6_gateway }}
 
[Address]
Address={{ kvm_main_ipv6_address }}/{{ kvm_main_ipv6_netmask }}
 
[Route]
Destination={{ kvm_main_ipv6_gateway }}
Scope=link
